/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/*  Header Styles
    Includes:
    - navbar styles + components styles
    - search bar stles + components styles
*/


:root {
    /* designated colour palet for website */
    --blue: #0065FC;
    --lighterBlue: #DEEBFF;
    --backgroundGrey: #F2F2F2;
    --defaultStar: darkgray;
    --searchbarOutline: #f2f2f2;
    --backgroundWhite: white;
}

#activitiesResults {
    /* styles for the section */
    /* adding heights for container */
    /* h = 50px + 317px + 47px = 414px */
    height: 414px;
}

#activitiesResults .legendContainer {
    /* controlling the container */
    /* adding heights for container */
    height: 53px;
    /* flex properties */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#activitiesResults .legendContainer h2 {
    /* controlling the h2 styles */
    /* finding the font size though relational size */
    height: 17px;
    width: 161px;
    /* font styles */
    font-weight: 700;
    font-size: 15.5px;
}

#activitiesResults .activitiesContainer {
    /* container for the activities container */
    /* flex properties */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    height: 317px;
}

#activitiesResults .activitiesContainer .activities {
    /* container for the activities container */
    /* contruction border for section */
    border-color: var(--defaultStar);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    /* sizes for the default container */
    height: 137px;
    width: 209px;
    /* flex properties */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* making sure the full image fits without falling out of the container */
    overflow: hidden;
}

#activitiesResults .activitiesContainer .activities:nth-child(1) {
    /* sizes for the default container */
    height: 315px;
    width: 209px;
}

#activitiesResults .activitiesContainer .activities:nth-child(2) {
    /* sizes for the default container */
    height: 170px;
    width: 209px;
}

#activitiesResults .activitiesContainer .activities:nth-child(3) {
    /* sizes for the default container */
    height: 117px;
    width: 209px;
}

#activitiesResults .activitiesContainer .activities:nth-child(4) {
    /* sizes for the default container */
    height: 315px;
    width: 209px;
}

#activitiesResults .activitiesContainer .activities:nth-child(5) {
    /* sizes for the default container */
    height: 136px;
    width: 209px;
}

#activitiesResults .activitiesContainer .activities:nth-child(6) {
    /* sizes for the default container */
    height: 147px;
    width: 209px;
}

#activitiesResults .activitiesContainer .activities .activityPhoto {
    /* container for the activities photo container */
    /* default sizes for the photo container */
    height: 91.24%;
    width: 209px;
    /* setting flex properties to center images */
    display: flex;
    justify-content: center;
    align-items: center;
    /* making sure the full image fits without falling out of the container */
    overflow: hidden;
}

#activitiesResults .activitiesContainer .activities .activityPhoto img {
    /* styles for the photo */
    /* making sure that the photo fits the container and doesn't lose quality */
    object-fit: cover;
    min-width: 100%;
    min-height: 100%; 
}

#activitiesResults .activitiesContainer .activities .articleText {
    /* container for the activities text container */
    /* text box size */
    height: 40px;
    width: 185px;
}

#activitiesResults .activitiesContainer .activities .articleText h3 {
    /* container for the activities text container */
    /* font properties */
    font-size: 11px;
    font-weight: 700;
    width: fit-content;
}


@media (max-width: 767px) {
    /* styles for mobile phones using the iphone 8 as our focused device */
    #activitiesResults {
        /* styles for the section */
        height: 956.9px;
        width: 260px;
        /* flex properties */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #activitiesResults .legendContainer {
        /* controlling the container */
        /* adding heights for container */
        height: 50.69px;
        width: 231.6px;
    }

    #activitiesResults .activitiesContainer {
        /* container for the activities container */
        /* flex properties */
        align-items: center;
        justify-content: flex-start;
        gap: 13.54px;
        height: 900px;
        width: 231.6px;
        flex-wrap: wrap;
    }

    #activitiesResults .activitiesContainer .activities {
        /* container for the activities container */
        /* contruction border for section */
        border-color: var(--defaultStar);
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        /* sizes for the default container */
        height: 139.58px;
        width: 231.6px;
        /* flex properties */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* making sure the full image fits without falling out of the container */
        overflow: hidden;
    }

    #activitiesResults .activitiesContainer .activities .activityPhoto {
        /* container for the activities photo container */
        /* default sizes for the photo container */
        height: 92.7px;
        width: 231.6px;
        /* setting flex properties to center images */
        display: flex;
        justify-content: center;
        align-items: center;
        /* making sure the full image fits without falling out of the container */
        overflow: hidden;
    }
    

    #activitiesResults .activitiesContainer .activities:nth-child(1) {
        /* sizes for the default container */
        height: 131.94px;
        width: 231.6px;
    }
    
    #activitiesResults .activitiesContainer .activities:nth-child(2) {
        /* sizes for the default container */
        height: 131.94px;
        width: 231.6px;
    }
    
    #activitiesResults .activitiesContainer .activities:nth-child(3) {
        /* sizes for the default container */
        height: 131.94px;
        width: 231.6px;
    }
    
    #activitiesResults .activitiesContainer .activities:nth-child(4) {
        /* sizes for the default container */
        height: 131.94px;
        width: 231.6px;
    }
    
    #activitiesResults .activitiesContainer .activities:nth-child(5) {
        /* sizes for the default container */
        height: 131.94px;
        width: 231.6px;
    }
    
    #activitiesResults .activitiesContainer .activities:nth-child(6) {
        /* sizes for the default container */
        height: 131.94px;
        width: 231.6px;
    }

    #activitiesResults .activitiesContainer .activities .articleText {
        /* container for the activities text container */
        /* text box size */
        height: 40px;
        width: 204.7px;
    }
}