header {
    /* header flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /**/
    border-color: blue;
    border-width: 1px;
    border-style: solid;
}

.mainArticleContainer {
    /* setting the flex properties */
    display: flex;
    flex-direction: column;
}


