/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/*  Header Styles
    Includes:
    - navbar styles + components styles
    - search bar stles + components styles
*/


:root {
    /* designated colour palet for website */
    --blue: #0065FC;
    --lighterBlue: #DEEBFF;
    --backgroundGrey: #F2F2F2;
    --defaultStar: darkgray;
    --searchbarOutline: #f2f2f2;
    --backgroundWhite: white;
}


body {
    /* extra normalisation */
    margin: 0;
    /* centralising properties for body tag*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* global scope styles */
    font-family: 'Raleway', sans-serif;
}

.mainContentContainer {
    /* Used to centralise main content whilst keeping
    everything on edges in line. Should Always be central
    nomatter screen size */

    /* extra normalisation */
    margin: 0;
    /* setting the sizes for conatiner */
    width: 926px; /* 926px/1000px = 92.2% (figma image legths) */
}

.footerContainer {
    /* Should always be as long as page so background can
    be greyed out. Should allow footer to be in line with
    .mainContContainer */

    /* setting the sizes for conatiner */
    width: 100%;
    /* centralising properties for container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* backgroubd */
    background-color: var(--backgroundGrey);
}

footer {
    /* Should be in line with .mainContContainer */

    /* setting the sizes for conatiner */
    width: 926px; /* 926px/1000px = 92.6% (figma image legths) */
}

@media (max-width: 767px) {
    /* styles for mobile phones using the iphone 8 as our focused device */
    .mainContentContainer {
        /* Used to centralise main content whilst keeping
        everything on edges in line. Should Always be central
        nomatter screen size */
    
        /* extra normalisation */
        margin: 0;
        /* setting the sizes for conatiner */
        width: 260px; /* 926px/1000px = 92.2% (figma image legths) */
    }

    .footerContainer {
        /* Should always be as long as page so background can
        be greyed out. Should allow footer to be in line with
        .mainContContainer */
    
        /* setting the sizes for conatiner */
        width: 260px;
    }

    footer {
        /* Should be in line with .mainContContainer */
    
        /* setting the sizes for conatiner */
        width: 260px; /* 926px/1000px = 92.6% (figma image legths) */
    }
}

@media (min-width:768px) and (max-width: 992px) {
    /* styles for mobile phones using the iphone 8 as our focused device */
    .mainContentContainer {
        /* Used to centralise main content whilst keeping
        everything on edges in line. Should Always be central
        nomatter screen size */
    
        /* extra normalisation */
        margin: 0;
        /* setting the sizes for conatiner */
        width: 700px; /* 926px/1000px = 92.2% (figma image legths) */

        /* style box */
        border-width: 1px;
        border-style: solid;
        border-color: teal;
    }

    .footerContainer {
        /* Should always be as long as page so background can
        be greyed out. Should allow footer to be in line with
        .mainContContainer */
    
        /* setting the sizes for conatiner */
        width: 750px;
        /* style box */
        border-width: 1px;
        border-style: solid;
        border-color: teal;
    }

    footer {
        /* Should be in line with .mainContContainer */
    
        /* setting the sizes for conatiner */
        width: 700px; /* 926px/1000px = 92.6% (figma image legths) */
        /* style box */
        border-width: 1px;
        border-style: solid;
        border-color: teal;
    }
}