/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/*  Header Styles
    Includes:
    - navbar styles + components styles
    - search bar stles + components styles
*/


:root {
    /* designated colour palet for website */
    --blue: #0065FC;
    --lighterBlue: #DEEBFF;
    --backgroundGrey: #F2F2F2;
    --defaultStar: darkgray;
    --searchbarOutline: #f2f2f2;
    --backgroundWhite: white;
}


.mainArticleContainer {
    /* setting the flex properties */
    display: flex;
    flex-direction: column;
}

.mainArticleContainer .accomMostPopular {
    /* setting the flex properties */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* container sizes */
    height: 459px;
}

.accomMostPopular #accomodationResults {
    /* setting the accomodation first 6 results */
    /* container sizes */
    height: 435px;
    width: 610px;
    /* setting the flex properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* container colour */
    background-color: var(--backgroundGrey);
    border-radius: 10px;
}


#accomodationResults .legendContainer {
    /* controlling the container for the legend */
    /* setting up size properties for the container */
    height: 36px;
    width: 554px;
}

#accomodationResults .legendContainer h1 {
    /* setting font attributes for h1 */
    /* setting font size through relational box size*/
    width: 214px;
    height: 15px;
    /* font attributes */
    font-size: 16.15px;
}

#accomodationResults .accomArticleContainer {
    /* controlling the container holding all accomodation articles */
    /* flex options for this container */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 21px;
    /* setting up size properties for the container */
    height: 322px;
}

#accomodationResults .showCont {
    /* controlling the 'show more' container */
    /* flex options for this container */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* setting up size properties for the container */
    height: 30px;
    width: 554px;
}

#accomodationResults .showCont a {
    /* controlling the 'show more' anchor tag */
    /* flex options for this container */
    display: flex;
    justify-content: center;
    align-items: center;
    /* setting up size properties for the container */
    height: 14px;
    width: 69x;
    /* font properties */
    font-size: 11.75px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.accomArticleContainer .accomodations {
    /* controlling the container for individual accomodation articles */
    /* setting the border template for the container */
    border-color: var(--defaultStar);
    border-style: solid;
    border-width: 1px;
    /* size properties for accom article */
    height: 137px;
    width: 171px;
    /* flex properties to centralise accom article */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border properies for accom article */
    border-radius: 15px;
    /* container colour */
    background-color: var(--backgroundWhite);
    box-shadow: black 10px;
}


.accomArticleContainer .accomodations .accomPhoto {
    /* controlling the photos for individual accomodation articles */
    /* setting size */
    height: 80px;
    width: 163px;
    /* setting flex properties to center images */
    display: flex;
    justify-content: center;
    align-items: center;
    /* making sure the full image fits without falling out of the container */
    overflow: hidden;
    /* border properies for accom article */
    border-radius: 15px 15px 0 0;
}

.accomArticleContainer .accomodations .articleText {
    /* controlling the text container of the article */
    /* setting size properties */
    height: 50px;
    width: 145px;
    /* setting flex properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    /* extra normalisation */
    padding: 0;
    margin: 0;

}

.accomArticleContainer .accomodations .accomPhoto img {
    /* making sure that the photo fits the container and doesn't lose quality */
    object-fit: contain;
    max-width: 100%;
    max-height: auto;  
}

.accomArticleContainer .accomodations .accomodationName {
    /* controlling the name for individual accomodation articles */
    /* font attributes */
    font-size: 10px;
    /* extra normalisation */
    padding: 0;
    margin: 0;
}

.accomArticleContainer .accomodations .accomodationPrice {
    /* controlling the price statement for individual accomodation articles */
    /* font attributes */
    font-size: 10px;
    /* extra normalisation */
    padding: 0;
    margin: 0;
}

.accomArticleContainer .accomodations .ratingContainer {
    /* controlling the ratings container for individual accomodation articles */
    /* font attributes */
    font-size: 10px;
    /* extra normalisation */
    padding: 0;
    margin: 0;
}

.accomArticleContainer .accomodations .ratingContainer .fa-star {
    /* default colouring the star rating */
    color: var(--defaultStar);
}

.accomArticleContainer .accomodations .ratingContainer .checked {
    /* default colouring the star rating */
    color: var(--blue);
}

.accomMostPopular #mostPopularResults {
    /* setting the accomodation first 6 results */
    /* container sizes */
    height: 435px;
    width: 289px;
    /* setting the flex properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* container colour */
    background-color: var(--backgroundGrey);
    border-radius: 10px;
}

#mostPopularResults .legendContainer {
    /* properties for 'most popular' legend */
    /* setting the flex properties */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* container sizes */
    height: 34px;
    width: 240px;
}

#mostPopularResults .legendContainer h2 {
    /* properties for legend h2 element */
    /* container sizes */
    height: 20px;
    width: 101px;
    /* font properties */
    font-size: 15.55px;
    text-align: center;
    font-weight: 700;
}

#mostPopularResults .legendContainer i {
    /* properties for legend star icon */
    /* container sizes */
    height: 19px;
    width: 19px;
    /* font properties */
    font-size: 17px;
    text-align: center;
    font-weight: 700;
}

#mostPopularResults .mostPopular {
    /* properties for most popular articles */
    /* setting the border template for the container */
    border-color: var(--defaultStar);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    /* container sizes */
    height: 100px;
    width: 239px;
    /* setting flex properties to center images */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* container background */
    background-color: var(--backgroundWhite);
}

#mostPopularResults .mostPopular .accomPhoto {
    /* properties for article photos */
    /* setting the border template for the container */
    border-color: var(--defaultStar);
    border-style: solid;
    border-width: 1px;
    /* setting size */
    height: 93px;
    width: 88px;
    /* setting flex properties to center images */
    display: flex;
    justify-content: center;
    align-items: center;
    /* making sure the full image fits without falling out of the container */
    overflow: hidden;
    /* border properies for accom article */
    border-radius: 10px 0 0 10px;
}

#mostPopularResults .mostPopular .accomPhoto img {
    /* properties for article photos */
    /* making sure that the photo fits the container and doesn't lose quality */
    object-fit: cover;
    min-width: 100%;
    min-height: 100%; 
}

#mostPopularResults .mostPopular .articleText {
    /* properties for article text box */
    /* setting size */
    height: 93px;
    width: 138px;
}

#mostPopularResults .mostPopular .articleText .accomodationName {
    /* properties for article text box */
    /* setting size */
    height: 15px;
    width: 99px;
    /* font properties */
    font-size: 9px;
    font-weight: 700;
    /* flex properties to allow wrapping */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#mostPopularResults .mostPopular .articleText .accomodationPrice {
    /* properties for article text box */
    /* setting size */
    height: 15px;
    width: 99px;
    /* font properties */
    font-size: 9px;
    /* flex properties to allow wrapping */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#mostPopularResults .mostPopular .articleText .ratingContainer {
    /* properties for article text box */
    /* setting size */
    height: 12px;
    width: 50px;
    /* font properties */
    font-size: 7px;
    /* flex properties to allow wrapping */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#mostPopularResults .mostPopular .articleText .ratingContainer .fa-star {
    /* default colouring the star rating */
    color: var(--defaultStar);
}

#mostPopularResults .mostPopular .articleText .ratingContainer .checked {
    /* highlighted colouring for star rating */
    color: var(--blue);
}

@media (max-width: 767px) {
    /* styles for mobile phones using the iphone 8 as our focused device */
    .mainArticleContainer .accomMostPopular {
        height: 1388.194444444444444px;
        width: 260px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    /* Most Popular */

    .accomMostPopular #mostPopularResults {
        /* setting the accomodation first 6 results */
        /* container sizes */
        height: 404px;
        width: 260px;
        /* setting the flex properties */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6.94px;
        /* container colour */
        background-color: var(--backgroundGrey);
        border-radius: 0;
        
    }
    
    #mostPopularResults .legendContainer {
        /* properties for 'most popular' legend */
        /* setting the flex properties */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* container sizes */
        height: 44.8px;
        width: 240px;
    }
    
    
    #mostPopularResults .mostPopular {
        /* properties for most popular articles */
        /* setting the border template for the container */
        border-color: var(--defaultStar);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        /* container sizes */
        height: 100px;
        width: 231.944444444444444px;
        /* setting flex properties to center images */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13px;
        /* container background */
        background-color: var(--backgroundWhite);
    }
    
    #mostPopularResults .mostPopular .accomPhoto {
        /* properties for article photos */
        /* setting the border template for the container */
        border-color: var(--defaultStar);
        border-style: solid;
        border-width: 1px;
        /* setting size */
        height: 92.013888888888889px;
        width: 86px;
        /* setting flex properties to center images */
        display: flex;
        justify-content: center;
        align-items: center;
        /* making sure the full image fits without falling out of the container */
        overflow: hidden;
        /* border properies for accom article */
        border-radius: 10px 0 0 10px;
    }
    
    #mostPopularResults .mostPopular .articleText {
        /* properties for article text box */
        /* setting size */
        height: 81.25px;
        width: 126px;
        /* flex properties */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    /* Accomodations */

    .accomMostPopular #accomodationResults {
        /* sizing properties */
        height: 989.9px;
        width: 260px;
        /* background properties */
        background-color: white;
        /* flex properties */
        align-items: center;
        justify-content: center;
    }

    #accomodationResults .legendContainer {
        /* controlling the container for the legend */
        /* setting up size properties for the container */
        height: 36px;
        width: 234.38px;
    }

    #accomodationResults .accomArticleContainer {
        /* setting up size properties for the container */
        height: 889.2px;
        width: 240px;
        /* flex properties */
        gap: 7.986px;
    }

    .accomArticleContainer .accomodations {
        /* controlling the container for individual accomodation articles */
        /* setting the border template for the container */
        border-color: var(--defaultStar);
        border-style: solid;
        border-width: 1px;
        /* size properties for accom article */
        height: 138.8px;
        width: 234.38px;
    }

    .accomArticleContainer .accomodations .accomPhoto {
        /* controlling the photos for individual accomodation articles */
        /* setting size */
        height: 80px;
        width: 224.65px;
        /* border properies for accom article */
        border-radius: 15px 15px 0 0;
    }

    .accomArticleContainer .accomodations .articleText {
        /* controlling the text container of the article */
        /* setting size properties */
        height: 50px;
        width: 224.65px; 
    }

    #accomodationResults .showCont {
        /* controlling the 'show more' container */
        /* setting up size properties for the container */
        height: 27.77px;
        width: 234.38px;
        margin-top: 10.88px;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    #mainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* styles for mobile phones using the iphone 8 as our focused device */
    .mainArticleContainer .accomMostPopular {
        height: auto;
        width: 650px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    /* Most Popular */

    .accomMostPopular #mostPopularResults {
        /* setting the accomodation first 6 results */
        /* container sizes */
        height: 404px;
        width: 250px;
        /* setting the flex properties */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6.94px;
        /* container colour */
        background-color: var(--backgroundGrey);
        border-radius: 10px;
        border-color: var(--backgroundGrey);
    }
    
    #mostPopularResults .legendContainer {
        /* properties for 'most popular' legend */
        /* setting the flex properties */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* container sizes */
        height: 44.8px;
        width: 231px;
    }
    
    .mostPopularArticleContainer {
        /* container sizes */
        height: fit-content;
        width: fit-content;
        /* setting the flex properties */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    
    #mostPopularResults .mostPopular {
        /* properties for most popular articles */
        /* setting the border template for the container */
        border-color: var(--defaultStar);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        /* container sizes */
        height: 100px;
        width: 231.944444444444444px;
        /* setting flex properties to center images */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13px;
        /* container background */
        background-color: var(--backgroundWhite);
    }
    
    #mostPopularResults .mostPopular .accomPhoto {
        /* properties for article photos */
        /* setting the border template for the container */
        border-color: var(--defaultStar);
        border-style: solid;
        border-width: 1px;
        /* setting size */
        height: 92.013888888888889px;
        width: 86px;
        /* setting flex properties to center images */
        display: flex;
        justify-content: center;
        align-items: center;
        /* making sure the full image fits without falling out of the container */
        overflow: hidden;
        /* border properies for accom article */
        border-radius: 10px 0 0 10px;
    }
    
    #mostPopularResults .mostPopular .articleText {
        /* properties for article text box */
        /* setting size */
        height: 81.25px;
        width: 126px;
        /* flex properties */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    /* Accomodations */

    .accomMostPopular #accomodationResults {
        /* sizing properties */
        height: auto;
        width: 385px;
        /* background properties */
        background-color: var(--backgroundGrey);
        /* flex properties */
        align-items: center;
        justify-content: center;
        /* style box */
        border-width: 1px;
        border-style: solid;
        border-color: var(--searchbarOutline);
    }

    #accomodationResults .legendContainer {
        /* controlling the container for the legend */
        /* setting up size properties for the container */
        height: 36px;
        width: 359px;
    }

    #accomodationResults .accomArticleContainer {
        /* setting up size properties for the container */
        height: auto;
        width: 359px;
        /* flex properties */
        gap: 7.986px;
    }

    .accomArticleContainer .accomodations {
        /* controlling the container for individual accomodation articles */
        /* setting the border template for the container */
        border-color: var(--defaultStar);
        border-style: solid;
        border-width: 1px;
        /* size properties for accom article */
        height: 138.8px;
        width: 171px;
    }

    .accomArticleContainer .accomodations .accomPhoto {
        /* controlling the photos for individual accomodation articles */
        /* setting size */
        height: 80px;
        width: 163px;
        /* border properies for accom article */
        border-radius: 15px 15px 0 0;
    }

    .accomArticleContainer .accomodations .articleText {
        /* controlling the text container of the article */
        /* setting size properties */
        height: 50px;
        width: 145px; 
    }

    #accomodationResults .showCont {
        /* controlling the 'show more' container */
        /* setting up size properties for the container */
        height: 27.77px;
        width: 350px;
        margin-top: 10.88px;
        margin-bottom: 10.88px;
    }
}