/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 


/* Root elements */

:root {
    /* colors */
    --blue: #0065FC;
    --lighterBlue: #DEEBFF;
    --backgroundGrey: #F2F2F2;
    --searchbarOutline: black;
}

/* global scope styles */

body {
    font-family: 'Raleway', sans-serif;

    display: flex;
    justify-content: center;
    height: 1308px;
    width: 1000px;
}

/* Header scope code */


.mainContentContainer {
    margin: 0;
    /*
    border-style: solid;
    border-color: red;
    border-width: 1px;
    */

    height: 1308px;
    width: 924px;
}

/* Navbar */

#navBar {
    display: flex;
    justify-content: space-between;
    height: 75px;
}

#navBar ul {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    height: 75px;
}

#navBar ul li {
    width: 112px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
}

#navBar ul li a {
    height: 96%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 11.25px;
    font-weight: 400;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navBar ul li a:hover {
    color: var(--blue);
    border-style: solid;
    border-width: 1px 0 0 0;
}

/* navbar Logo */

#bookieLogo {
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bookieLogo img {
    height: 35px;
}


/* Search form */

#locationSearch {
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#locationSearch h1 {
    height: 17px;
    width: 275px;
    font-size: 15.65px;
    font-weight: 700;
}

#locationSearch fieldset {
    margin: 0;
    padding: 0;
    width: fit-content; 
    height: 10px;
    font-size: 12.5px;
    border-style: none;
}

/*
#locationSearch {
    
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    
}

*/

#locationSearch .locationSearchBar {
    display: flex;
    height: auto;
    width: fit-content;
    justify-content: center;
    align-items: center;
    /*
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 12px 12px 12px 12px;
    */
}

.locationSearchBar .locationIconContainer {
    border-style: solid;
    border-color: var(--searchbarOutline);
    border-width: 1px;
    
    background-color: var(--backgroundGrey);
    border-radius: 12px 0 0 12px;
    height: 35px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locationIconContainer i {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationSearchBar .searchInputContainer {
    border-style: solid;
    border-color: var(--searchbarOutline);
    border-width: 1px;

    height: 35px;
    width: 163px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInputContainer input {
    border-style: none;
    border-color: var(--searchbarOutline);
    border-width: 1px;
    outline: none;

    width: 80%;
    height: 80%;
}

.locationSearchBar .searchSubmit {
    border-style: solid;
    border-color: var(--searchbarOutline);
    border-width: 1px;
    border-radius: 0 12px 12px 0;
    background-color: var(--blue);

    height: 37.2px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}

/* Filters */

#searchFilter {
/*
    border-style: solid;
    border-color: green;
    border-width: 1px;
*/
    height: 65px;
    display: flex;
    justify-content: space-between;
}

/*
#searchFilter .filterLegend {
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}
*/

#searchFilter .filterLegend {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.filterLegend p {
    height: 11px;
    width: 37px;
    font-size: 13.25px;
    font-weight: 700;
}

#searchFilter .filterOptionContainer {
    height: 100%;
    width: 861.95px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
    overflow-y: auto;

    
}

.filterOptionContainer .filterOption {
    border-style: solid;
    border-color: var(--blue);
    border-width: 1px;
    border-radius: 27px;

    display: flex;
    height: 31px;
    width: fit-content;
    align-items: center;

}

.filterOption .filterIcon {
    border-style: solid;
    border-color: var(--blue);
    border-width: 1px;
    border-radius: 50px;

    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lighterBlue);
}

.filterIcon i {
    text-align: center;
    height: 14px;
    width: 16px;
    color: var(--blue);
    font-size: 14px;
}

.filterOption .filterName {
    width: fit-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 13px 0 3px;
}

.filterName p {
    height: 12px;
    width: fit-content;
    font-size: 10.7px;
    font-weight: 600;
}